@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-bege: #EBD5AD;
  --color-bege-700: #D8B57F;
  --color-amarelo: #E89D10;
  --color-amarelo-700: #D28D0F;
  --color-amarelo-900: #e8a710;
  --color-vermelho: #DB4B23;
  --color-preto: #382924;
  --color-azul: #136066;

  --animate-float: float 6s ease-in-out infinite;
  --animate-shimmer: shimmer 3s linear infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility flex-center{
  @apply flex justify-center items-center
}



